<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Tortillería</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/crear-pedido">Crear Pedido</a></li>
            <li><a href="/consultar-pedido">Consultar Pedidos</a></li>
        </ul>
        <button id="logout-button" style="display: none;">Cerrar Sesión</button>
    </nav>
    
    
    <h1>Bienvenido a la Tortillería</h1>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
